body {
    background-image: url(paper.png);
    background-size: cover;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.title {
    border: 10px solid; 
}

.main-container {
    border: 10px solid;
    background-image: url(corkboard.jpg);
}

.title-section {
    text-align: center;
}

.top-left-rules {
    height: 200px;
    width: 400px;
    padding: 30px;
    margin: 50px;
    text-align: left;
    background-image: url(sticky.png)
}

.top-right-video {
    height: 200px;
    width: 400px;
    padding: 30px;
    margin: 50px;
    background-image: url(sticky.png)
}

.bottom-left-timer-box1 {
    height: 200px;
    width: 400px;
    padding: 30px;
    margin: 50px;
    background-color: hotpink;
    text-align: center;
    background-image: url(sticky.png)
}

.bottom-right-to-do-list {
    height: 200px;
    width: 400px;
    padding: 30px;
    margin: 50px;
    background-color: hotpink;
    text-align: center;
    background-image: url(sticky.png)
}

.enter-item-input {
    border-radius: 15px;
}

.enter-item-button {
    
}